'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ruby Block Converter'
      'submenu': [
        { 'label': 'To Curly Brackets ({})', 'command': 'ruby-block-converter:to-curly-brackets' }
        { 'label': 'To Curly Brackets Without Collapse', 'command': 'ruby-block-converter:to-curly-brackets-without-collapse' }
        { 'label': 'To Do End', 'command': 'ruby-block-converter:to-do-end' }
        { 'label': 'To Do End Without Join', 'command': 'ruby-block-converter:to-do-end-without-join' }
      ]
    ]
  }
]
