# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable ruby-block-converter': 'ruby-block-converter:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ruby-block-converter'
      'submenu': [
        { 'label': 'Toggle', 'command': 'ruby-block-converter:toggle' }
      ]
    ]
  }
]
