'atom-text-editor':
  'alt-[': 'ruby-block-converter:to-curly-brackets'
  'alt-{': 'ruby-block-converter:to-curly-brackets-without-collapse'
  'alt-]': 'ruby-block-converter:to-do-end'
  'alt-}': 'ruby-block-converter:to-do-end-without-join'
